h1 {
  text-align: center;
  color: blue;

}
h2 {
  text-align: center;
  color: blue;
}
body {
  background-color: lightblue;
}
.pages{
  float: left;
}
.view{
  text-align: left;
}
.click{
  text-align: center;
  color: blue;
}
footer{
  text-align: center;
  column-rule-color: green;
}
.slide{
  position: relative;
}
